h1, h2, h3, h4, h5, h6, span, p, a {
    font-family: "Nunito", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.subtitle {
    font-size: x-large;
    color: #335357;
}

.featuredHouse {
    border-radius: 0.5rem;
    padding: 0.5rem;
}